:root {
    --primary-color: #a99e60;
    --secundary-color: #a62626;
    --accent1-color: #1d3247;
    --accent2-color: #f1f1f1;
    --heading-font:"Times New Roman", "Georgia", serif;
    --body-font: "Arial", "Helvetica", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: auto;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: #1d3247;
}

nav, p, section, article {
    margin: 16px;
    padding: 10px;
}

section {
    text-align: center;
}
.socialmedia a {
    text-decoration: none;
}

.socialmedia {
    display: flex;
    align-items: center;
    margin: 20px 0;

}

.socialmedia img {
    width: 40px;
    height: auto;
    
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 5px;
}

.hero article img {
    float: right;
    width: 125px;
    border: 2px solid var(--secundary-color);
}

/* The stalization for the W4 flex  */

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav a {
    background-color: #ffffff;
    padding: 5px 15px;
    text-decoration: none;
    border: 1px solid #ccc;
    font-weight: bold;
    color: #333;
}

.history-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.adventures-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 15px 15px;
}

.adventures-grid figure {
    margin: 0;
    flex: 1;
    text-align: center;
}

.adventures-grid img {
    width: 100%;
    height: 50%;
}

figcaption {
    font-style: italic;
    margin-top: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-links img {
    width: 30px;
    height: 30px;
}

/* 000000000000000000000000000000000000000000000000000000000000000000000 */
/*CONTACT NEWWWWW  */


.container {
    text-align: center;
    padding: 20px;
}

.contact {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.map iframe {
    width: 300px;
    height: 250px;
    background: #ccc;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
}

 input, textarea {
    padding: 8px;
 }

 button {
    padding: 10px;
    background: #ddd;
    border-radius: 4px;
 }

 .team {
    margin-top: 30px;
    padding: 10px;
    border: 1px solid #aaa;
    background-color: #eee9e9;
 }

 .team-members {
    display: flex;
    justify-content: center;
    padding: 15px 15px;
    gap: 20px;
 }

 /* -------------------------------------- */
 /* HOME AND TRIP...? */
/* NEWSLETTER */
.newsletter {
    padding: 20px;
    text-align: center;
}

.newsletter input {
    padding: 10px;
    margin: 5px;
}

/* CTA */
.cta {
    text-align: center;
    margin: 50px;
}

.cta a {
    background: #f2a365;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

/* GRID HOME */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.grid img {
    width: 90%;
    height: 80%;
}

/* TRIPS */
.trips {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.trip img {
    width: 100%;
}

/* TABLE */
table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #333;
    padding: 10px;
}

