:root {
    --primary-color: #f2f8ff;
    --secundary-color: #a62626;
    --accent1-color: #1d3247;
    --accent2-color: #f1f1f1;
    --heading-font:"Times New Roman", "Georgia", serif;
    --body-font: "Arial", "Helvetica", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--accent2-color);
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: #1d3247;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia {
    display: flex;
    align-items: center;
    margin: 20px 0;

}

.socialmedia img {
    width: 40px;
    height: auto;
    
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 5px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 15px;
    border: 2px solid var(--secundary-color);
}

/* The stalization for the W4 flex  */


nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

.history-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.adventures-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 10px;
}

.adventures-grid figure {
    margin: 0;
    flex: 1;
    text-align: center;
}

.adventures-grid img {
    width: 100%;
    height: auto;
}

figcaption {
    font-style: italic;
    margin-top: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-links img {
    width: 30px;
    height: 30px;
}

/* 000000000000000000000000000000000000000000000000000000000000000000000 */


